body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  font-size: 18px;
  padding: 10px 20px;
  background: #000000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
